
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        height: max-content;
        background: url(../images/Hamburger_French_fries_Vegetables_Black_background_540048_3840x2400.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
    }
        .menu{
            background: rgba(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 90px;
            padding: 20px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 5.0);
        }
            .logo{
                height: 100px;
                width: 100px;
                background: url(../images/logotipo3+HamburguesasFDM.png);
                background-position: center;
                background-attachment: contain;
                background-size: cover;
                margin: 20px;
                flex:1 1 auto;
                padding: 20px;
                cursor: pointer;
            } 
            .nav{
                display: flex;
                justify-content: space-between;
                margin: 20px;
                padding: 20px;
                flex:5 1 auto;
            } .nav a:hover{
                color: #000;
            }
            .social{
                display: flex;
                justify-content: space-between;
                margin: 20px;
                flex:1 1 auto;
                padding: 20px;
            } .social a:hover {
                color: #000;
            }
        .texto-principal{
            margin-top: 20px;
            height: 580px;
            padding: 20px;
            display: flex;
            align-items: center;
        }   h1{
            font-family: 'Times New Roman', Times, serif;
            font-size: 21px;
            text-align: center;
            color: white;
            font-weight: 300;
            line-height: 1.6;
        }
    
    .footer{
        display: flex;
        height: max-content;
        margin-top: 20px;
        padding: 20px;
        background: #000;
        justify-content: center;
    }   
        .pie {
            width: 300px;
            height: fit-content;
            margin: 20px;
            padding: 20px;
            background: mediumvioletred;
        }
@media all and (max-width: 800px){
    .menu{
        flex-direction: column;
        height: auto;
    }
    .nav {
        flex-direction: column;
        margin: 30px;
    }
    
    
}
@media all and (max-width: 600px){
    
}
@media all and (max-width: 400px){
    
            
