body {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        height: max-content;
        background: url(../images/pexels-photo-220201.jpeg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
    }
        .menu{
            background: rgba(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 80px;
            padding: 20px;
            align-items: center;
        }
            .logo{
                margin: 20px;
                flex:1 1 auto;
                padding: 20px;
            }
            .nav{
                display: flex;
                justify-content: space-between;
                margin: 20px;
                padding: 20px;
                flex:5 1 auto;
            }
            .social{
                margin: 20px;
                flex:1 1 auto;
                padding: 20px;
            }
        .texto-principal{
            margin-top: 20px;
            height: fit-content;
            padding: 20px;
            background: green;
        }   h1{
            align-items: center;
            height: fit-content;
            margin: 20px;
            padding: 10px;
            background: greenyellow;
        }
    .section{
        background: #000;
        margin-top: 20px;
        height: max-content;
        display: flex;
    }
        .articulos {
            flex:2 1 auto;
            height: fit-content;
            margin: 20px;
            padding: 20px;
            background: grey;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                flex: 1 1 40%;
                height: fit-content;
                margin: 20px;
                padding: 20px;
                background: indigo;
            }
            .navegacion{
                flex: 1 1 100%;
                height: fit-content;
                margin: 20px;
                padding: 20px;
                background: lawngreen;
            }
        .aside {
            flex:1 1 auto;
            height: initial;
            margin: 20px;
            padding: 20px;
            background: maroon;
        }    .informacion {
            height: fit-content;
            margin: 20px;
            padding: 20px;
            background: mediumorchid;
        }
    .footer{
        display: flex;
        height: max-content;
        margin-top: 20px;
        padding: 20px;
        background: #000;
        justify-content: center;
    }   
        .pie {
            width: 300px;
            height: fit-content;
            margin: 20px;
            padding: 20px;
            background: mediumvioletred;
        }
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .nav {
        flex-direction: column;
        margin: 30px;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}
            
